#divFirst{
    display: flex;
    flex-direction: column;
    width: 50vh;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 5%;
    margin-right: 40%;
  }
  /* #but1,#but2{
      color: black;
      border: 2px solid black;
      margin-bottom: 3%;
  } */